// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
	}
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  　text-align: center;
}
.each_info {
    width: 400px;
    height: 200px;
    margin: 30px;
    border-top: 2.5px #BDCBD2 dashed;
    background: #F5F5F5;
}
.photo_area {
	display: table;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
    margin: 20px 10px;
    padding: 0px;
}
.info_area {
    height: 130px;
    width: 330px;
    margin-left: 50px;
    float: left;
    margin: 20px 0px;
    padding: 5px;
}
.info_header_area {
    height: 20px;
	width: 330px;
    margin-left: 10px;
    float: left;
    margin: 20px 0px;
    padding: 5px;
}
.link_area {
	width: 330px;
    margin-left: 0px;
    float: left;
    margin: 20px 0px;
    padding: 5px;
}
.photo {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.img {
    width: 150px;
    float: left;
    padding :10px;
    background:#000000;
    margin-right:20px;
    vertical-align: middle;
}
.h4 {
	font-weight: bold;
	color: #ff0000;
	float: left;
}
.hidden {
	display: none;
}